{% extends 'myshop_dj/base.html' %}

{% load static %}  <!-- Добавьте эту строку -->


{% block content %}
  <div class="container mt-5">
    <h2 class="text-center">Мой Профиль</h2>

    <div class="text-center">
      {% if profile.profile_picture %}
         <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" class="profile-icon" />
      {% else %}
         <img src="{% static 'images/icon.png' %}" alt="Default Profile Picture" class="profile-icon" />
      {% endif %}
    </div>

    <div class="mt-4">
      <p><strong>Имя:</strong> {{ profile.first_name }}</p>
      <p><strong>Фамилия:</strong> {{ profile.last_name }}</p>
      <p><strong>Email:</strong> {{ profile.email }}</p>
      <p><strong>Телефон:</strong> {{ profile.phone_number }}</p>
      <p><strong>Дата Рождения:</strong> {{ profile.date_of_birth }}</p>
      <div class="text-center">
        <a href="{% url 'edit_profile' %}" class="btn btn-secondary">Редактировать Профиль</a>
      </div>
    </div>

    <div class="container mt-4" style="position: relative; min-height: 300px;">
      <div class="navigation mb-3 d-flex flex-column align-items-end" style="position: absolute; top: 10px; right: 10px;">

        <a href="{% url 'logout' %}" class="btn btn-danger">Выход</a> <!-- Добавлена кнопка "Выход" -->
      </div>
    </div>
  </div>
{% endblock %}